In [1]:
import pandas as pd

In [8]:
df = pd.read_excel("loi_press.xlsx" , header = None)

In [9]:
df.head()

                                                   0          1
0                                          Article 2  Article 2
1        Au sens de la présente loi, on entend par :  Article 2
2  I. Le journalisme : profession qui consiste à ...  Article 2
3  les nouvelles, les informations ou les faits, ...  Article 2
4  d'enquêter sur ces derniers, d'une manière pro...  Article 2

In [14]:
df = df.groupby(1 , as_index=False).agg({1 : 'first', 0 : ' '.join})

In [19]:
df.head()

            1                                                  0
0  Article 10  Article 10 Si l'établissement éditeur est une ...
1  Article 11  Article 11 Toute personne physique ou morale d...
2  Article 12  Article 12 Sous peine d'une amende dont le max...
3   Article 2  Article 2 Au sens de la présente loi, on enten...
4   Article 3  Article 3 La liberté de la presse est garantie...

In [23]:
df.columns = ['Article', 'Loi']

In [24]:
df.head()

      Article                                                Loi
0  Article 10  Article 10 Si l'établissement éditeur est une ...
1  Article 11  Article 11 Toute personne physique ou morale d...
2  Article 12  Article 12 Sous peine d'une amende dont le max...
3   Article 2  Article 2 Au sens de la présente loi, on enten...
4   Article 3  Article 3 La liberté de la presse est garantie...

In [25]:
df = df.drop(["Article"], axis = 1)

In [26]:
df.head()

                                                 Loi
0  Article 10 Si l'établissement éditeur est une ...
1  Article 11 Toute personne physique ou morale d...
2  Article 12 Sous peine d'une amende dont le max...
3  Article 2 Au sens de la présente loi, on enten...
4  Article 3 La liberté de la presse est garantie...

In [28]:
df1 = pd.read_csv('french.txt')
df1

          a
0        ai
1       aie
2     aient
3      aies
4       ait
..      ...
241  étions
242     été
243    étés
244    êtes
245    être

[246 rows x 1 columns]

In [29]:
def get_stopwords_list(stop_file_path):
    """load stop words """
    
    with open(stop_file_path, 'r', encoding="utf-8") as f:
        stopwords = f.readlines()
        stop_set = set(m.strip() for m in stopwords)
        return list(frozenset(stop_set))

In [30]:
stopwords_path = "french.txt"
stopwords = get_stopwords_list(stopwords_path)

In [31]:
stopwords[0:9]

['soi', 'vois', 'aurez', 'faire', 'même', 'seras', 'ton', 'alors', 'quel']

In [32]:
print(len(stopwords))

247

In [33]:
# function to remove french stopwords
def remove_stop_words(corpus):
    results = []
    for text in corpus:
        tmp = text.split(' ')
        for stop_word in stop_words:
            if stop_word in tmp:
                tmp.remove(stop_word)
        results.append(" ".join(tmp))
        
    return results